.text-field
{
	-fx-background-color:#ffffff;
	-fx-border-width: 1px;
	-fx-border-color: #9f97bd;
}
.text-area{
	-fx-border-color:#9f97bd;
	-fx-background-color: red;
}

.text-field:focused
{
-fx-border-width:2px;
-fx-border-color:black;  
}


#lblname{
	-fx-text-fill: blue;
	-fx-alignment: center;
}

#lblprice
{
	-fx-text-fill: purple;
}
#gridhome{
	-fx-background-color: white;
}
.password-field:focused
{
-fx-border-width: 2px;
-fx-border-color: #9f97bd;  
}
#searchbox
{
	-fx-background-color: #f1eff5;
	-fx-prompt-text-fill: grey
}
#searchbox:focused{
	-fx-border-width: 1px;
	-fx-border-color:#5f456e;
}
.button
{
 -fx-background-color:  #2d283e;
 -fx-text-fill: white;
 -fx-text-alignment: center;
}

.button:hover
{
-fx-background-color: #000000;
}
#lblclose
{
	-fx-text-fill: #50546D;
}
#lblclose:hover
{
	-fx-text-fill: red;
}
.text-area
{
-fx-background-color: #fff, #fff;
}

.text-area .content 
{
-fx-background-color: #fff;
}

.text-area:focused 
{
-fx-border-width: 2px;
-fx-border-color: #9f97bd;
}
#lblerror
{
   -fx-text-fill: red;	
}
#lblclose:hover
{
	-fx-text-fill:red;
}
lblqty{
	-fx-border-width: 0px;
}
#cart{
	
}